<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<!-- IMDb general settings -->
	<category label="300100">
		<setting label="30002" type="bool" id="tmdbthumbs" default="true"/>
		<setting label="30003" type="bool" id="impawards" default="false"/>
		<setting label="30004" type="bool" id="movieposterdb" default="false"/>
		<setting type="sep"/>
		<setting label="30001" type="bool" id="fanart" default="true"/>
		<setting type="sep"/>
		<setting label="30006" type="labelenum" values="No|480p|720p|1080p" id="TrailerQ" default="480p"/>
		<setting type="sep"/>
		<setting label="30050" type="labelenum" values="Australia|UK|USA" id="Cert" default="USA"/>
		<setting label="30008" type="labelenum" values="Keep Original|USA / International|Argentina|Austria|Belgium|Brazil|Bulgaria|Canada|China|Colombia|Chile|Croatia|Czech Republic|Denmark|Finland|France|Germany|Greece|Hong Kong|Hungary|Iceland|India|Israel|Italy|Japan|Mexico|Netherlands|Norway|Pakistan|Poland|Portugal|Romania|Russia|Serbia|Singapore|Slovenia|Spain|Sweden|Switzerland|Thailand|Turkey|Uruguay|Venezuela" id="akatitles" default="Keep Original"/>
		<setting label="30000" type="bool" id="fullcredits" default="false"/>
		<setting label="30007" type="labelenum" values="192|256|384|512|1024" id="imdbscale" default="512"/>
	</category>
	<!-- RT rating settings -->
	<category label="30100">
		<setting label="30105" type="bool" id="rtrating" default="true"/>
		<setting type="sep"/>
		<setting label="30110" type="labelenum" values="TomatoMeter|Average Rating" id="tomato" default="TomatoMeter" enable="!eq(-2,false)"/>
		<setting label="30115" type="labelenum" values="All Critics|Top Critics" id="allcritics" default="All Critics" enable="!eq(-3,false)"/>
	</category>
</settings>
